#panel
  #progress-container.pointer
    #progress.progress.horizontal
      .secondary
        .now
          .slider.drag
    p.time-now 12:34
    p.cache
      span.hmoe-icon.animate-text(data-content="uvwxyz{|") u
      span
        | Loading...
    p.time-total 34:56
  ul#control.clear
    li#ctrl_repeat.pointer.button.medium.blue.hmoe-icon.btn-evnt(data-onclick="repeat") W
    li#ctrl_repeat.pointer.button.medium.blue.hmoe-icon.btn-evnt(data-onclick="previous") c
    li#ctrl_repeat.pointer.button.large.green.hmoe-icon.btn-evnt(data-onclick="pause") Z
    li#ctrl_repeat.pointer.button.large.green.hmoe-icon.btn-evnt(data-onclick="play") X
    li#ctrl_repeat.pointer.button.medium.blue.hmoe-icon.btn-evnt(data-onclick="next") a
    li#ctrl_repeat.pointer.button.medium.blue.hmoe-icon.btn-evnt(data-onclick="random") V
  #min_panel
    #min_panel_down.pointer.hmoe-icon.btn-evnt(data-onclick='panel_hide') R
    #min_panel_up.pointer.hmoe-icon.btn-evnt(data-onclick='panel_show') U
  #volume-container.pointer.hmoe-icon
    #volume.progress.horizontal
      .now
        .slider.drag
    p.normal.hmoe-icon Q

