#info_box
  img#cover(src="assets/images/unknow.png")
  #info_text
    p#title.normal Title
    p#album.nromal Album
  #info_btn
    p#download.pointer.hmoe-icon.btn-evnt(data-onclick="download") J
    p#like.pointer.hmoe0icon.btn-evnt(data-onclick="like") 3

