#right-panel
  #playlist-btn.pointer.panel-item.btn-evnt(data-onclick="playlist")
    span.rp_label.hmoe-icon M
  #about-btn.pointer.panel-item.btn-evnt(data-onclick="about")
    span.rp_label.hmoe-icon B
  //#setting_on.pointer.btn-evnt(data-onclick="setting")
  //  span#setting_on_text.rp_label.hmoe-icon 4

