#right_panel
  #play_list_on.pointer.btn-evnt(data-onclick="playlist")
    span#play_list_on_text.rp_label.hmoe-icon M
  #about_on.pointer.btn-evnt(data-onclick="about")
    span#about_on_text.rp_label.hmoe-icon B
  #setting_on.pointer.btn-evnt(data-onclick="setting")
    span#setting_on_text.rp_label.hmoe-icon 4

