meta(charset="utf-8")
meta(content="width=device-width, initial-scale=1.0", name="viewport")
title H萌 - 在线音乐
// bower:js
// endbower
script(src="assets/js/hmoe-player.js")

link(rel="stylesheet", type="text/css", href="assets/css/reset.css")
link(rel="stylesheet", type="text/css", href="assets/css/hmoe-player.css")
link(rel="stylesheet", type="text/css", href="assets/css/hmoe-html5player-icon.css")
link(rel="stylesheet", type="text/css", href="assets/css/animation.css")
link#mainstyle(rel="stylesheet", type="text/css", href="")

