.overlay.btn-evnt(data-onclick="pop_close")

#pop_box.popbox.large
  #pop_close_btn.close
    a.hmoe-icon.btn-evnt(data-onclick="pop_close") 8
  include ./popbox/about.jade
  include ./popbox/setting.jade


