#pop_box_container.btn-evnt(data-onclick="pop_close")

#pop_box
  #pop_close_btn
    a.hmoe-icon.btn-evnt(data-onclick="pop_close") 8
  include ./popbox/about.jade
  include ./popbox/playlist.jade
  include ./popbox/setting.jade


