#wrapper
  #hmoe_logo
    img(height='50px', src='assets/images/logo.png')
  #music_bg
  include ./wrapper/right_panel.jade
  include ./wrapper/info_box.jade
  include ./wrapper/lrc.jade
  include ./wrapper/ctl_panel.jade

