#wrapper
  #hmoe-logo
    img(height='50px', src='assets/images/logo.png')
  #music-bg
  include ./wrapper/right_panel.jade
  include ./wrapper/infobox.jade
  include ./wrapper/lrc.jade
  include ./wrapper/ctl_panel.jade

