doctype html
html(lang='zh-CN')
  head
    include ./index/header.jade
  body
    include ./index/wrapper.jade
    include ./index/footer.jade
    include ./index/popbox.jade
    .overlay.btn-evnt(data-onclick="pop_close")

