//button
$button_background: #FFF
$button_highlight: #D9534E
$button_text: #666
$button_text_highlight: #FFF

.button
  text-align: center
  color: $button_text
  display: inline-block
  border-radius: 50%
  box-shadow: 0 0 5px rgba(0, 0, 0, .35)
  background: $button_background
  &.text
    margin: .5em 0
    padding: .5em 1em
    line-height: 2em
    text-decoration: none
    border-radius: 5px
  &.large
    line-height: 48px
    width: 48px
    font-size: 20px
  &.medium
    line-height: 32px
    width: 32px
    font-size: 14px
  &.small
    line-height: 24px
    width: 24px
    font-size: 12px
  &:hover
    color: $button_text - #333
  &.actived
    color: $button_text_highlight
    background: $button_highlight

