#about.pop_content
  .about_title
    img(src="assets/images/logo2.png")
  .about_download
    br
    a.pointer.button.green(hreg="http://music2.hmacg.cn/deskdownload.html", target="_blank") 下载桌面版
  .about_detail
    h2 - 关于 -
    | H 萌在线音乐所提供的所有歌曲均为MP3格式，<br>320kbps高品质音质。<br>在页面底部提供“歌曲下载”。<br>不推荐 4M 以下带宽网络用户在线听歌，<br>4M 以下带宽网络用户请下载后本地播放歌曲。<br>歌词可上下拖动来控制播放进度。<br>歌曲手动定位只能定位至已加载部分。<br>播放器背景为歌曲专辑相关动漫的图片，<br>上方标题旁方形图片为专辑封面。<br>歌曲存放於 H 萌服务器上，服务器归 Hazx 所有。<br>H萌在线音乐列表中的所有歌曲并非随意添加，<br>所有被添加的歌曲必须经过严格人工审核（主要由Hazx审核），<br>保证所有已添加歌曲的优秀率。 <br><br>其他一些说明：<br>OP：片头曲　　ED：片尾曲　　IN：插入曲　　CS：角色歌<br><br>
    h2 - 相关人员 -
    | 模块总负责：Hazx<br>网页版播放器程序/界面：BinotaLiu<br>播放器界面设计：BinotaLiu<br>模块功能负责：Hazx、manageryzy<br>歌曲审核：Hazx（主要）、Mi~saki<br>歌曲更新：Hazx <br><br>
    h2 - 版权声明与免责声明 -
    | “H萌在线音乐”为H萌下属子站点（功能），<br>播放器采用 H 萌在线音乐团队自主开发之 HTML5 播放器。<br>未经 Hazx 与 H 萌在线音乐团队同意，<br>不得对“H萌在线音乐”播放器及皮肤进行移植和修改，<br>否则我方可能会与您发生不必要的冲突。<br>如果您需要合作，<br>Hazx愿意与君谈及。您可以联系Hazx（hazx@hmacg.cn）。<br><br>歌曲内容均采集于互联网，<br>仅供《H萌》网友进行带宽测试，<br>请於下载后 24 小时内删除，<br>若本站内容侵犯了您的权益，<br>请您来信告知：hazx#hmacg.cn，<br>造成您的不便请见谅。<br>

