#lyric
  width: calc(100% * 0.56232)
  height: 120px
  background: rgba(255, 255, 255, .8)
  box-shadow: 0 0 5px rgba(0, 0, 0, .3)
  border-radius: 20px
  position: absolute
  bottom: 27px
  left: calc(50% - 67px - 100% * 0.281 - 110px)
  overflow: hidden
  z-index: 400
  #lrc-container
    overflow: hidden
    #lrc
      width: 600px
      text-align: center
      li
        font-size: 15px
        line-height: 30px
        color: #9f9ba2
        &.now
          font-size: 20px
          color: #333
  #lrc-min,
  #lrc-max
    height: 1em
    width: 1em
    position: absolute
  #lrc-min
    bottom: 10px
    left: 15px
  #lrc-max
    top: 10px
    right: 15px
  #lrc-normal
    display: none
  //--------------------------------------------------------
  //---- FULL SCREEN ---------------------------------------
  //--------------------------------------------------------
  &.fullscreen
    background: none
    border: none
    margin: 100px 0 0 0
    padding: 0
    width: 100%
    height: calc(100% - 100px)
    z-index: 800
    bottom: 0
    left: 0
    #lrc-container
      width: 100%
      height: 83%
      #lrc
        width: 100%
        li
          font-size: 18px
          line-height: 34px
          color: #999
          text-shadow: 0 0 5px rgba(0, 0, 0, .75)
          &.now
            font-size: 24px
            color: #FFF
    #lrc-normal
      display: block
      position: absolute
      top: calc(83% + 35px)
      text-align: center
      width: 100%
      color: #FFF
    #lrc-min,
    #lrc-max
      display: none


